body {
    background-color: F3F5F6;
}

html {
    scroll-behavior: smooth;
}

.pag1 {
    height: 100%;
    padding-bottom: 10%;
}

.title-flexbox{
    display: flex;    
    height: 1%;
    flex-direction: column-reverse;
}

.title-box1 {
    width: 100%;
    text-align: center;
    font-family: Helvetica, sans-serif;
    text-align: left;
    margin: auto;
    height: 1%;
}


.box-author {
    margin: auto;
}

.title-box2{
    width: 100%;
    text-align: right;
    margin: auto;
    height: 1%;
}

#subtitle{
    font-family: Helvetica, sans-serif;
    font-style: italic;
    font-size: 20px;
}

#author {
    font-size: 50px;
}

.title-box2 a:nth-child(-n+4):hover {
    background-color: #DFE0E1;
    transition: 0.4s;
}
.title-box2 a:nth-child(-n+4){
    font-size: 20px;
}

.presetation-flexbox {
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10%;
}

.presetation-box1 {
    margin-left: 5%;
    width: 30%;
    margin: auto;
}
    
.presetation-box2 {
    text-align: center;
    margin: auto;
    width: 50%;
    font-size: 25px;
}
    
#photo-presentation {
        border-radius: 50%;
        width: 100%;
}
.paragraph {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: justify;
}


.pag2 {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    height: 100%;
    padding-bottom: 28%;
}

.skills-box2 {
    width: 50;
    margin-left: 10%;
    margin-right: 10%;
}

#title-of-skills {
    text-align: center;
    font-size: 50px;
}

.pag3 {
    border-bottom: 1px solid black;
    
    height: 100%;
    padding-bottom: 28%;
    margin-top: 0%;
}

#social-media{
    text-align: center;
    font-size: 50px;
}

.media-box2 {

    text-align: center;
}

#contato {
    text-align: center;
    font-size: 50px; 
}

.email {
    text-align: center;
}
