body {
    background-color:#FDF0EC;
}

h1 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}

#paragrafo1 {
    font-family: Helvetica, sans-serif;
    font-style: italic;
}

#paragrafo2, #paragrafo3 {
    font-family: 'Times New Roman', Times, serif;
}

#foto {
    border-radius: 50%;
}
.boxpai {
    /* border: 1px solid green; */
    display: flex;
    justify-content: left;
}

.boxfilho1 {
    /* border: 1px solid black; */
    margin-left: 5%;
    }

.boxfilho2 {
    /* border: 1px solid red; */
    width: 300px;
    text-align: justify;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2%;
    width: 450px;
    font-size: 25px;
}

.legenda-foto {
    /* border: 1px solid green; */
    width: 4500px;
    margin-left: 5%;
}

.indice {
    /* border: 1px solid yellow; */
    width: 550px;
    text-align: center;
    margin: auto;
}