body {
    background-color: #F9E2DC;  
}

#paragrafo1 {
    font-family: Helvetica, sans-serif;
    font-style: italic;
}

#paragrafo2, #paragrafo3 {
    font-family: 'Times New Roman', Times, serif;
}

#foto {
    border-radius: 50%;
    width: 100%;
}
.boxpai {
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    width: 100%;
}

.boxfilho1 {
    /* border: 1px solid black; */
    margin-left: 5%;
    width: 30%;
    }

.boxfilho2 {
    /* border: 1px solid red;  */
    text-align: center;
    margin: auto;
    width: 50%;
    font-size: 25px;
}

.indice-box2 {
    /* border: 1px solid yellow; */
    width: 100%;
    text-align: right;
    margin: auto;
}

.indice-box2 a:nth-child(-n+4):hover {
    background-color: #DFE0E1;
}

.table {
    /* border: 1px solid black; */
    width: 100%;
    font-size: 25px;
}

.title-box1 {
    width: 100%;
    text-align: center;
    font-family: Helvetica, sans-serif;
    text-align: left;
    margin: auto;
}

.title-flexbox{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;    
}